{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if user.is_authenticated %}
    <p>Você está conectado como <strong>{{ user.username }}</strong> | <a href="{% url 'logout' %}">Sair</a></p>
    <a href="{% url 'criar_postagem' %}">Criar uma postagem</a>
{% else %}
    <a href="{% url 'login' %}">Entrar</a> | <a href="{% url 'register' %}">Registrar</a>
{% endif %}

<ul>
    {% for postagem in postagens %}
    <li>
        <strong>{{postagem.titulo}}</strong> - {{ postagem.descricao }}
        <br>Autor: {{postagem.autor.username }} | Curtidas: <a href="{% url 'ver_curtidas' postagem.id %}">{{ postagem.curtidas.count }}</a>
        {% if user.is_authenticated %}
            {% if postagem.ja_curtiu %}
                <a href="{% url 'curtir_postagem' postagem.id %}">Descurtir</a>
            {% else %}
                <a href="{% url 'curtir_postagem' postagem.id %}">Curtir</a>
            {% endif %}
        {% endif %}
    </li>
    {% empty %}
        <li>Não há postagens ainda.</li>
    {% endfor %}
</ul>